header {
    height: 100px;
    background-color: rgb(6, 19, 31)
}

.fa-brands {
    font-size: 80px;
    margin-left: 100px;
    color: rgb(24, 216, 96);
}

.standard-container {
    min-height: 600px;
    background-color: rgb(29, 45, 60)
}

.row>* {
    color: white;
}